.game {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.linha {
    position: absolute;
    width: 0;
    height: 100%;
    border: white 3px dashed;
    left: 50%;
    transform: translateX(-50%);
}

.barra{
    position: absolute;
    background: white;
    height: 15%;
    width: 1.5%;
    top: 50%;
    transform: translateY(-50%);

}

.esfera{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

.game__botoes {
    position: absolute;
    width: 49%;
    height: 49%;
    background-color: transparent;
    z-index: 5;
    right: 0;
}

.sobe{
top:0;
}

.desce{
bottom: 0;
}
