.absolute-centralizado {
    position: absolute;
    transform: translate(-50%,-50%);
}

@mixin subtitulo($cor,$maior,$index) {
    color: $cor;
    font-size: $tamanho-titulo + $maior;
    z-index: $index;
}