@import 'reset';
@import 'variaveis';
@import 'mixins';
@import 'menu';
@import 'game';



body {
  background-color: $cor-fundo;
  font-size: 16px;
  font-family:
  'Press Start 2P',
  cursive;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

//button {
//  font-family: 'Press Start 2P', cursive;
//}