@import url(reset.css);
@import url(comeco.css);
@import url(estrelas.css);
@import url(game.css);

:root{
    --fundo: #0b1026;
    --cor-nomes-menu : white;
    --tamanho-titulo : 5rem;
    --cor-titulo-1: #15f4ee;
    --cor-titulo-2: #FF10F0;
    --cor-estrela: white;
}


body{
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family:'Press Start 2P', cursive;
    overflow: hidden;
    background-color: var(--fundo);
}

button{
    font-family:'Press Start 2P', cursive;
}

