@import 'reset';
@import 'variaveis';
@import 'menu';
@import 'game';
@import url(#{$fonte-link});



*{
    box-sizing: border-box;
}

body {
    background-color: $cor-fundo;
    font-family: $fonte-texto;
    height: 100vh;
    width: 100vw;
    
}

.pong {
    background-color: $cor-fundo;
    height: 100%;
    width: 100%;
}