
$cor-fundo: #0c1445;
$cor-titulo: #fff;
$cor-palavras-menu: #fff;
$fonte-link: 'https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap';
$fonte-texto: 'Press Start 2P', cursive;
$tamanho-titulo : 5rem;
$tamanho-opcoes : 2rem;